.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  /* margin: 20px 20px; */
  position: relative;
  background: #d3cce3; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #d3cce3,
    #e9e4f0
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #d3cce3,
    #e9e4f0
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100vh;
  overflow: hidden;
}

.expand_button {
  background: linear-gradient(to bottom, #a90329 0%, #8f0222 44%, #6d0019 100%);
  color: white;
  font-size: 15px;
  border-radius: 2px;
  box-shadow: 3px 15px 25px 2px rgba(184, 171, 184, 0.76);
  margin-bottom: 20px;
  cursor: pointer;
  transition: all 0.5s ease;
  width: 200px;
  height: 50px;
}

.expand_button:active {
  transform: translateY(2px) scale(0.85);
}

.expand_button:focus {
  outline: 0;
}

.controls {
  /* position: absolute; */
  /* top: 80px; */
}

.svg.logo {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

svg {
  transition: all 0.6s ease;
  /* animation: reduce 600ms linear forwards; */
}

svg.expanded {
  /* animation: expand 600ms linear forwards; */

  width: 600px;
  height: 600px;
}

.team_input {
  box-shadow: 6px 3px 15px -2px rgba(176, 150, 176, 0.76);
  display: block;
  height: 25px;
  width: 260px;
  border: 1px solid rgba(0, 0, 0, 0);
  margin-bottom: 20px;
  border-radius: 3%;

  padding: 5px;
}

@media (min-width: 868px) {
  .controls {
    display: flex;
    border: 1px solid;
    justify-content: space-between;
    width: 100%;
  }
}
